In [1]:
import os
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# URLs

# Transaction Fees
avg_transaction_fees = {'btc':'https://bitinfocharts.com/comparison/bitcoin-transactionfees.html',
                        'eth':'https://bitinfocharts.com/comparison/ethereum-transactionfees.html',
                        'bch':'https://bitinfocharts.com/comparison/bitcoin%20cash-transactionfees.html',
                        'ltc':'https://bitinfocharts.com/comparison/litecoin-transactionfees.html',
                        'xmr':'https://bitinfocharts.com/comparison/monero-transactionfees.html',
                        'dash':'https://bitinfocharts.com/comparison/dash-transactionfees.html',
                        'zec':'https://bitinfocharts.com/comparison/zcash-transactionfees.html'}

#median_transaction_fees = {'btc':'https://bitinfocharts.com/comparison/bitcoin-mediantransactionvalue.html',
#                           'eth':'https://bitinfocharts.com/comparison/ethereum-median_transaction_fee.html',
#                           'bch':'https://bitinfocharts.com/comparison/bitcoin%20cash-median_transaction_fee.html',
#                           'ltc':'https://bitinfocharts.com/comparison/litecoin-median_transaction_fee.html',
#                           'dash':'https://bitinfocharts.com/comparison/dash-mediantransactionvalue.html',
#                           }

# Block Times
block_times = {'btc': 'https://bitinfocharts.com/comparison/bitcoin-confirmationtime.html',
               'eth': 'https://bitinfocharts.com/comparison/ethereum-confirmationtime.html',
               'bch': 'https://bitinfocharts.com/comparison/bitcoin%20cash-confirmationtime.html',
               'ltc': 'https://bitinfocharts.com/comparison/litecoin-confirmationtime.html',
               'xmr': 'https://bitinfocharts.com/comparison/monero-confirmationtime.html',
               'dash': 'https://bitinfocharts.com/comparison/dash-confirmationtime.html',
               'zec': 'https://bitinfocharts.com/comparison/zcash-confirmationtime.html'}

In [10]:
def parse_record(record):
    date = record[11:21]
    value = record[24:-1]
    return [date,value]

dfs = []
for coin in avg_transaction_fees:
    url = avg_transaction_fees[coin]
    response = requests.get(url)
    soup = BeautifulSoup(response.text,'lxml')
    script_tag = soup.findAll('script')[5]
    script_text = script_tag.text


    pattern = re.compile(r'\[new Date\("\d{4}/\d{2}/\d{2}"\),[(\d)(\w)-.]*\]')
    records = pattern.findall(script_text)
    
    data = {'date':[],coin:[]}

    for record in records:
        parsed = parse_record(record)
        if parsed[1] == 'null':
            parsed[1] = None
        else:
            parsed[1] = float(parsed[1])
        data['date'].append(parsed[0])
        data[coin].append(parsed[1])
    
    df = pd.DataFrame(data).set_index('date')
    dfs.append(df)

In [11]:
avg_transaction_fee_df = pd.concat(dfs,axis=1)
avg_transaction_fee_df

               eth    dash       btc       bch     ltc      xmr           zec
2010/07/17     NaN     NaN  0.000010       NaN     NaN      NaN           NaN
2010/07/18     NaN     NaN  0.000243       NaN     NaN      NaN           NaN
2010/07/19     NaN     NaN  0.000022       NaN     NaN      NaN           NaN
2010/07/20     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/07/21     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/07/22     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/07/23     NaN     NaN  0.000003       NaN     NaN      NaN           NaN
2010/07/24     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/07/25     NaN     NaN  0.000097       NaN     NaN      NaN           NaN
2010/07/26     NaN     NaN  0.000357       NaN     NaN      NaN           NaN
2010/07/27     NaN     NaN  0.000149       NaN     NaN      NaN           NaN
2010/07/28     NaN     NaN  0.000035       NaN     NaN      NaN           NaN
2010/07/29     NaN     NaN  0.000034       NaN     NaN      NaN           NaN
2010/07/30     NaN     NaN  0.000134       NaN     NaN      NaN           NaN
2010/07/31     NaN     NaN  0.000217       NaN     NaN      NaN           NaN
2010/08/01     NaN     NaN  0.000151       NaN     NaN      NaN           NaN
2010/08/02     NaN     NaN  0.000082       NaN     NaN      NaN           NaN
2010/08/03     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/04     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/05     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/06     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/07     NaN     NaN  0.001170       NaN     NaN      NaN           NaN
2010/08/08     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/09     NaN     NaN  0.001220       NaN     NaN      NaN           NaN
2010/08/10     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/11     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/12     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/13     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/14     NaN     NaN       NaN       NaN     NaN      NaN           NaN
2010/08/15     NaN     NaN       NaN       NaN     NaN      NaN           NaN
...            ...     ...       ...       ...     ...      ...           ...
2018/11/13  0.1810  0.0433  0.415000  0.013700  0.0342  0.03520  8.220000e-05
2018/11/14  0.1970  0.0567  0.543000  0.034100  0.0348  0.03800  1.140000e-05
2018/11/15  0.2000  0.0460  0.743000  0.001830  0.0290  0.02330  1.540000e-05
2018/11/16  0.1760  0.0337  0.732000  0.001460  0.0287  0.01270  3.620000e-06
2018/11/17  0.1410  0.0342  0.457000  0.000713  0.0273  0.01080  1.940000e-05
2018/11/18  0.1680  0.0360  0.424000  0.000673  0.0275  0.01710  4.880000e-04
2018/11/19  0.1630  0.0457  0.789000  0.000661  0.0310  0.01260  1.130000e-05
2018/11/20  0.1450  0.0406  1.114000  0.000598  0.0254  0.01080  1.750000e-05
2018/11/21  0.1220  0.0344  0.888000  0.005570  0.0274  0.03080  2.530000e-04
2018/11/22  0.1180  0.0510  0.668000  0.019700  0.0225  0.00708  5.690000e-05
2018/11/23  0.1160  0.0320  0.581000  0.004300  0.0216  0.01720  8.210000e-06
2018/11/24  0.1140  0.0298  0.538000  0.005140  0.0214  0.01470  1.560000e-05
2018/11/25  0.1110  0.0363  0.515000  0.003950  0.0220  0.03200  4.930000e-08
2018/11/26  0.1060  0.0375  0.586000  0.005390  0.0228  0.01220  2.760000e-05
2018/11/27  0.0918  0.0375  0.526000  0.006750  0.0217  0.01410  2.870000e-04
2018/11/28  0.1220  0.0359  0.627000  0.014900  0.0250  0.01590  1.750000e-05
2018/11/29  0.1580  0.0379  0.782000  0.009950  0.0223  0.01290  1.920000e-05
2018/11/30  0.1720  0.0263  0.673000  0.031900  0.0201  0.01150  3.330000e-05
2018/12/01  0.1300  0.0277  0.533000  0.006060  0.0219  0.00929  3.330000e-05
2018/12/02  0.1230  0.0292  0.438000  0.011000  0.0231  0.01450           NaN
2018/12/03  0.1230  0.0296  0.518000  0.008240  0.0225  0.00827  8.690000e-05
2018/12/04  0.1200  0.0287  0.464000  0.006530  0.0236  0.01300  2.260000e-06
2018/12/05  0.1180  0.0248  0.400000  0.004190  0.0217  0.00612  2.720000e-04
2018/12/06  0.0853  0.0292  0.383000  0.002330  0.0210  0.00749  1.930000e-05
2018/12/07  0.0755  0.0270  0.420000  0.008090  0.0175  0.00801  7.350000e-06
2018/12/08  0.0581  0.0215  0.295000  0.004180  0.0152  0.01130  7.770000e-06
2018/12/09  0.0633  0.0255  0.251000  0.004510  0.0168  0.00638  6.950000e-06
2018/12/10  0.0675  0.0124  0.316000  0.004590  0.0214  0.01470  8.760000e-06
2018/12/11  0.0647  0.0327  0.321000  0.004640  0.0163  0.00668  2.280000e-04
2018/12/12  0.0627  0.0223  0.298000  0.004730  0.0164  0.00687  3.280000e-05

[3071 rows x 7 columns]

In [12]:
dfs = []
for coin in block_times:
    url = block_times[coin]
    response = requests.get(url)
    soup = BeautifulSoup(response.text,'lxml')
    script_tag = soup.findAll('script')[5]
    script_text = script_tag.text


    pattern = re.compile(r'\[new Date\("\d{4}/\d{2}/\d{2}"\),[(\d)(\w)-.]*\]')
    records = pattern.findall(script_text)
    
    data = {'date':[],coin:[]}

    for record in records:
        parsed = parse_record(record)
        if parsed[1] == 'null':
            parsed[1] = None
        else:
            parsed[1] = float(parsed[1])
        data['date'].append(parsed[0])
        data[coin].append(parsed[1])
    
    df = pd.DataFrame(data).set_index('date')
    dfs.append(df)

In [13]:
block_times_df = pd.concat(dfs,axis=1)
block_times_df

              eth   dash      btc     bch    ltc    xmr    zec
2009/01/09    NaN    NaN  102.857     NaN    NaN    NaN    NaN
2009/01/10    NaN    NaN   23.607     NaN    NaN    NaN    NaN
2009/01/11    NaN    NaN   15.484     NaN    NaN    NaN    NaN
2009/01/12    NaN    NaN   15.319     NaN    NaN    NaN    NaN
2009/01/13    NaN    NaN   11.707     NaN    NaN    NaN    NaN
2009/01/14    NaN    NaN   11.163     NaN    NaN    NaN    NaN
2009/01/15    NaN    NaN   11.429     NaN    NaN    NaN    NaN
2009/01/16    NaN    NaN   13.333     NaN    NaN    NaN    NaN
2009/01/17    NaN    NaN   13.211     NaN    NaN    NaN    NaN
2009/01/18    NaN    NaN   13.458     NaN    NaN    NaN    NaN
2009/01/19    NaN    NaN   12.522     NaN    NaN    NaN    NaN
2009/01/20    NaN    NaN   12.632     NaN    NaN    NaN    NaN
2009/01/21    NaN    NaN   14.118     NaN    NaN    NaN    NaN
2009/01/22    NaN    NaN   15.824     NaN    NaN    NaN    NaN
2009/01/23    NaN    NaN   17.143     NaN    NaN    NaN    NaN
2009/01/24    NaN    NaN    7.164     NaN    NaN    NaN    NaN
2009/01/25    NaN    NaN    7.539     NaN    NaN    NaN    NaN
2009/01/26    NaN    NaN   15.000     NaN    NaN    NaN    NaN
2009/01/27    NaN    NaN   14.845     NaN    NaN    NaN    NaN
2009/01/28    NaN    NaN   12.857     NaN    NaN    NaN    NaN
2009/01/29    NaN    NaN   11.901     NaN    NaN    NaN    NaN
2009/01/30    NaN    NaN   12.308     NaN    NaN    NaN    NaN
2009/01/31    NaN    NaN   10.435     NaN    NaN    NaN    NaN
2009/02/01    NaN    NaN   12.743     NaN    NaN    NaN    NaN
2009/02/02    NaN    NaN   11.250     NaN    NaN    NaN    NaN
2009/02/03    NaN    NaN   10.360     NaN    NaN    NaN    NaN
2009/02/04    NaN    NaN   12.101     NaN    NaN    NaN    NaN
2009/02/05    NaN    NaN   11.429     NaN    NaN    NaN    NaN
2009/02/06    NaN    NaN   11.803     NaN    NaN    NaN    NaN
2009/02/07    NaN    NaN   11.163     NaN    NaN    NaN    NaN
...           ...    ...      ...     ...    ...    ...    ...
2018/11/13  0.236  2.623   12.000   9.290  2.319  1.967  2.487
2018/11/14  0.237  2.657   10.667  12.414  2.553  2.057  2.522
2018/11/15  0.237  2.623   11.339   9.231  2.717  1.925  2.496
2018/11/16  0.233  2.609   11.429   9.351  2.478  2.020  2.509
2018/11/17  0.236  2.599    9.931  11.707  2.513  1.983  2.540
2018/11/18  0.234  2.652   11.707  10.213  2.637  2.130  2.462
2018/11/19  0.240  2.618   11.429   9.231  2.759  1.892  2.571
2018/11/20  0.239  2.633   10.909  11.901  2.903  2.051  2.540
2018/11/21  0.235  2.633   13.714  10.213  2.618  2.020  2.496
2018/11/22  0.238  2.642   11.803   9.863  2.633  2.078  2.466
2018/11/23  0.235  2.618   11.520  11.707  2.835  1.970  2.491
2018/11/24  0.235  2.637   10.070  12.973  2.628  2.043  2.553
2018/11/25  0.234  2.590   11.339  10.746  2.764  2.020  2.500
2018/11/26  0.237  2.628   12.973  10.141  2.880  1.962  2.496
2018/11/27  0.240  2.623   10.992  10.213  3.090  2.022  2.540
2018/11/28  0.239  2.628   12.203   9.796  2.712  1.994  2.535
2018/11/29  0.235  2.657   13.714  10.435  2.633  2.040  2.487
2018/11/30  0.238  2.623   14.257   9.664  2.491  1.981  2.487
2018/12/01  0.238  2.633   11.613   9.931  2.428  2.159  2.509
2018/12/02  0.238  2.609   12.632  10.746  2.416  1.849  2.540
2018/12/03  0.239  2.657   12.632  10.909  2.404  2.008  2.544
2018/12/04  0.238  2.604   10.435  10.435  2.300  2.008  2.470
2018/12/05  0.239  2.613   11.077  10.286  2.567  2.072  2.531
2018/12/06  0.238  2.633   10.667  10.435  2.623  2.081  2.491
2018/12/07  0.241  2.657   12.632   9.664  2.687  1.925  2.558
2018/12/08  0.239  2.637   11.339  11.707  2.712  2.087  2.470
2018/12/09  0.236  2.618   11.250   9.796  2.637  1.986  2.558
2018/12/10  0.233  2.604   11.613   9.351  2.585  1.933  2.504
2018/12/11  0.241  2.613   11.520  10.588  2.840  2.090  2.496
2018/12/12  0.237  2.618   12.000  10.511  2.553  2.022  2.483

[3625 rows x 7 columns]

In [14]:
avg_transaction_fee_df.to_csv('avg_transaction_fee.csv',index_label='date')
block_times_df.to_csv('block_times.csv',index_label='date')