In [179]:
import pandas as pd
import numpy as np
import datetime

In [3]:
df_acc_bins = pd.read_csv('avg_accounts_per_bin.csv')
df_acc_bins.columns = ["Planktons", "Clownfishes", "Lionfisshes", "Swordfishes", "Sharks", "Whales"]
df_acc_bins

   Planktons  Clownfishes  Lionfisshes  Swordfishes     Sharks      Whales
0   1.417409     1.892186     2.627976      8.03492  37.944899  127.969749

In [213]:
df_val_per_month = pd.read_csv('change_bins_values_per_month.csv')
df_val_per_month.fillna(0, inplace=True)

df_val_per_month.loc[:,"_0_to_1":"More_10000"] = df_val_per_month.loc[:,"_0_to_1":"More_10000"].div(df_val_per_month.sum(axis=1), axis=0) * 100
df_val_per_month.columns = ["Month","Planktons", "Clownfishes", "Lionfishes", "Swordfishes", "Sharks", "Whales"]

df_val_per_month = df_val_per_month.sort_values(by='Month')

df_val_per_month.Month = pd.to_datetime(df_val_per_month.Month)
df_val_per_month.head()

,Month,Planktons,Clownfishes,Lionfishes,Swordfishes,Sharks,Whales
63,2009-01-06,1.980004,0.0,98.019996,0.000000,0.0,0.0
62,2009-10-03,0.000000,0.0,0.000000,100.000000,0.0,0.0
61,2009-11-02,0.000000,0.0,100.000000,0.000000,0.0,0.0
60,2010-01-01,0.000000,0.0,33.110368,66.889632,0.0,0.0
59,2010-01-31,100.000000,0.0,0.000000,0.000000,0.0,0.0

In [224]:
#df_val_per_month = df_val_per_month.set_index(['Month'])

df_val_per_month.loc['2009-01-06']

Planktons       1.980004
Clownfishes     0.000000
Lionfishes     98.019996
Swordfishes     0.000000
Sharks          0.000000
Whales          0.000000
Name: 2009-01-06 00:00:00, dtype: float64

In [113]:
df_ct_per_month = pd.read_csv('change_count_bins_per_month.csv')
df_ct_per_month.fillna(0, inplace=True)
df_ct_per_month.columns = ["Month", "Planktons", "Clownfishes",
                            "Lionfishes", "Swordfishes", "Sharks", "Whales"]
df_ct_per_month = df_ct_per_month.sort_values(by='Month')

In [118]:
df_ct_per_month.iloc[107]['Planktons':'Whales'].keys

<bound method Series.keys of Planktons      59675
Clownfishes     2589
Lionfishes       554
Swordfishes      111
Sharks            12
Whales             2
Name: 0, dtype: object>

In [140]:
df_ct_per_month.iloc[107]['Planktons':'Whales'].get('Planktons')

59675

In [165]:
df_val_per_month.Month[0].strftime('%B %Y')

'July 2018'

In [169]:
df_val_per_month['Month'].min()

Timestamp('2009-01-06 00:00:00')

In [172]:
df_ct_per_month['Month'][0:107:10]

107    2009-01-06 00:00:00 UTC
97     2010-08-29 00:00:00 UTC
87     2011-06-25 00:00:00 UTC
77     2012-04-20 00:00:00 UTC
67     2013-02-14 00:00:00 UTC
57     2013-12-11 00:00:00 UTC
47     2014-10-07 00:00:00 UTC
37     2015-08-03 00:00:00 UTC
27     2016-05-29 00:00:00 UTC
17     2017-03-25 00:00:00 UTC
7      2018-01-19 00:00:00 UTC
Name: Month, dtype: object

In [174]:
len(df_ct_per_month['Month'])

108

In [190]:
epoch = datetime.datetime.utcfromtimestamp(0)
def unix_time_millis(dt):
    return (dt - epoch).total_seconds() * 1000.0
marks={unix_time_millis(d): {'label': d.strftime('%B %Y')} for d in df_val_per_month['Month'][0:len(df_val_per_month):10]}

In [191]:
marks

{1231200000000.0: {'label': 'January 2009'},
 1283040000000.0: {'label': 'August 2010'},
 1308960000000.0: {'label': 'June 2011'},
 1334880000000.0: {'label': 'April 2012'},
 1360800000000.0: {'label': 'February 2013'},
 1386720000000.0: {'label': 'December 2013'},
 1412640000000.0: {'label': 'October 2014'},
 1438560000000.0: {'label': 'August 2015'},
 1464480000000.0: {'label': 'May 2016'},
 1490400000000.0: {'label': 'March 2017'},
 1516320000000.0: {'label': 'January 2018'}}